.idea:
BGAStubs.iml
misc.xml
modules.xml
workspace.xml

.phpdoc:
cache

docs:
classes
css
files
graphs
index.html
js
namespaces
packages
reports

vendor:
autoload.php
bin
composer
doctrine
erusev
jawira
jean85
league
monolog
nikic
phpdocumentor
psr
scrivo
symfony
twig
webmozart
